/* Estilos para el menú de navegación */
nav {
    background-color: #333; /* Color de fondo del menú */
    padding: 10px 0; /* Espaciado interno en la parte superior e inferior */
  }
  
  /* Estilos para la lista no ordenada */
  nav ul {
    list-style-type: none; /* Elimina los marcadores de lista */
    margin: 0;
    padding: 0;
    text-align: center; /* Centra los elementos de la lista */
  }
  
  /* Estilos para los elementos de la lista */
  nav li {
    display: inline-block; /* Muestra los elementos en línea */
    margin-right: 20px; /* Espaciado entre elementos */
  }
  
  /* Estilos para los enlaces */
  nav a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina la subrayado de los enlaces */
    font-weight: bold; /* Texto en negrita */
    font-size: 16px; /* Tamaño de fuente */
    transition: color 0.3s; /* Transición de color suave */
  }
  
  /* Cambiar color al pasar el mouse sobre los enlaces */
  nav a:hover {
    color: #ff5733; /* Color al pasar el mouse */
  }
  